body{
    background-color: black;
    text-align: center;
}

img{
    margin-top: 100px;
    border: white solid 5px;
}

h1{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
}

h2{
    color: white;
}